<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.fluxel.triangle">
  <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="35" />
  <uses-feature android:name="android.hardware.vulkan.version" android:required="true" android:version="0x00400000" />
  <application android:label="vulkan: Basic indexed triangle" android:hasCode="false">
    <activity android:name="android.app.NativeActivity" android:exported="true">
      <meta-data android:name="android.app.lib_name" android:value="fluxel_android_triangle" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
